@font-face {
	font-family: News Cycle;
	src: url("./assets/NewsCycle-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: News Cycle;
	src: url("./assets/NewsCycle-Bold.ttf");
	font-weight: bold;
}

p,
button,
input {
	font-family: "News Cycle", serif;
	line-height: 1.2;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: rgb(217, 214, 211);
	height: 100%;
	position: relative;
}

* {
	margin: 0;
	overflow: hidden;
}

#canvas-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.blur-field {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 200px;
	height: 200px;
	backdrop-filter: blur(10px);
	/* Blurs the content behind it */
	-webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%);
	mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%);
	color: white;
	cursor: pointer;
	text-align: center;
	pointer-events: none;
}

.initial-blur {
	display: none !important;
}

div#interacter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	max-width: 400px;
	max-height: 400px;
	background-color: rgba(217, 214, 211, 0.95);
	border: 1px solid #A09992;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;
	z-index: 99;
}

div#interacter-body {
	flex-grow: 1;
	flex-shrink: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

div#interacter-body>section:first-child {
	padding-bottom: 10px;
	border-bottom: 1px solid #A09992;
}

div#interacter-body>section>p>span {
	font-weight: bold;
}

p#interacter-header {
	font-size: 1.5rem;
	margin-bottom: 10px;
	font-weight: bold;
}

button#interacter-accept {
	flex-shrink: 0;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	cursor: pointer;
}

div.info {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

div.info>input {
	opacity: 0.4;
}

p#audioAmp,
p#latlng {
	font-size: 0.8rem;
	color: #A09992;
	width: 100%;
}

p#audioAmp {
	margin-bottom: 5px;
}

div.info>section {
	display: flex;
	justify-content: center;
}

div.info>section>button {
	all: unset;
	padding: 10px;
	cursor: pointer;
}
